                body {
                    box-sizing: 300px;
                    background-color: darkslategray;
                    font-size: 48px;
                    color: #fff;
                }
                
                body {
                    font-family: 'Dancing Script', cursive;
                }