body {
    box-sizing: 300px;
    background-color: darkslategray;
    font-size: 48px;
    color: #fff;
}

body {
    font-family: 'Dancing Script', cursive;
}

#cores {
    width: 400px;
    height: 200px;
    background-color: navajowhite;
    border: 4px solid rgba(179, 47, 172, 0.712);
    border-radius: 20px 10px 30px 50px;
}