body {
    font-family: 'Acme', sans-serif;
    font-family: 'Archivo', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Langar', cursive;
}