/*texto estilizando*/


/* seletor univer *{} serve todos os  itens da pagina*/


/* outro seletor pode ser assim
input [type='text']{}
ou input[name='email']{}
*/

.banner {
    background-color: darkred
}

.texto-principal {
    color: gainsboro;
}

.cabecalho {
    background-color: goldenrod;
}

p {
    color: darkmagenta;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    direction: ltr;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-shadow: 1px 3px blue;
}

h1 {
    text-align: center;
    text-decoration: overline;
}

h2 {
    text-align: right;
    text-decoration: line-through;
}

h3 {
    text-align: left;
    text-decoration: solid;
}


/*dimensão
largura width: 100% ou px;
height algura
definir max e min pra altur e larguta
max-width min-width*/


/*margin
padding serve par aespaçamento interno
padding-botton espaçemnto inferior
sendito horario
paddin:10 parte superito 10 direito base 10esquerdo10