/*texto estilizando*/


/* seletor univer *{} serve todos os  itens da pagina*/


/* outro seletor pode ser assim
input [type='text']{}
ou input[name='email']{}
*/

.banner {
    background-color: darkred
}

.texto-principal {
    color: gainsboro;
}

p {
    color: darkmagenta;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    direction: ltr;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-shadow: 1px 3px blue;
}

h1 {
    text-align: center;
    text-decoration: overline;
}

h2 {
    text-align: right;
    text-decoration: line-through;
}

h3 {
    text-align: left;
    text-decoration: solid;
}